

.app {
	width: 960px;
	margin: 0 auto;
	padding-top: 50px;
}



.add-category {
	padding:  10px;
	border: 1px solid #ccc;
	border-top: none;
}

.add-category input {
	padding:  5px;
}

.add-category button {
	padding:  5px;
}


.table {
	width: 100%;
	border-collapse: collapse;
}

.table tr {
	border-bottom: 1px solid #ccc;
}

.table td, th {
	padding: 10px;
	text-align: left
}

.tabs {
	border-bottom: 1px solid #ccc;
}

.tabs button {
	display: inline-block;
	padding: 20px;
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}

.tabs button[disabled] {
	opacity: 0.3;
}

.add-spending {
	padding:  20px;
	padding-left: 0;
}

.footer {
	padding:  20px;
	padding-left: 0;	
}